[Unit]
Description=My Aircraft Fetch Data Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/flightradar/fetch_aircraft_data.py > /home/flightradar/service.log 2>&1
Restart=on-failure
User=flightradar
WorkingDirectory=/home/flightradar
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

